<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security</title>
    </head>
    <body>
        <h1 align="center">Welcome to page of Spring Security check</h1>
        <form th:method="GET" th:action="@{/admin/users}">
            <h2><td><input type="submit" value="let's start checking" style="border-radius: 10px 10px 10px 10px; border-color: #a19898"></td></h2>
        </form>
    </body>
</html>